<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let n of novedades">
        <div class="card h-100">
            <img class="card-img-top" [src]="n.images | noimage" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ n.name }}</h5>
                <p class="card-text">
                    <span class="badge bg-secondary" *ngFor="let a of n.artists">{{ a.name }}</span>
                </p>
            </div>
        </div>
    </div>
</div>